/*-----------------------------------------------------------------------------*/
/*----------------------------------less than 980px----------------------------*/

@media screen and (max-width: 980px) {

	#pagewrap {
		width: 95%;
	}

	#content {
		width: 60%;
		padding: 3% 4%;
	}

	#sidebar {
		width: 30%;
	}
	#sidebar .widget {
		padding: 8% 7%;
		margin-bottom: 10px;
	}

}

/*----------------------------------less than 650px----------------------------*/

@media screen and (max-width: 650px) {

	#header {
		height: auto;
	}

	#search-form {
		position: absolute;
		top: 5px;
		right: 0;
		z-index: 100;
		height: 40px;
	}
	
	#main-nav {
		position: static;
	}


	#site-logo {
		margin: 15px 100px 5px 0;
		position: static;
	}
	#site-description {
		margin: 0 0 15px;
		position: static;
	}

	#content {
		width: auto;
		float: none;
		margin: 20px 0;
	}


	#sidebar {
		width: 100%;
		margin: 0;
		float: none;
	}
	#sidebar .widget {
		padding: 3% 4%;
		margin: 0 0 10px;
	}

}
/*----------------------------------less than 480px----------------------------*/

@media screen and (max-width: 480px) {

	html {
		-webkit-text-size-adjust: none;
	}

	#main-nav a {
		font-size: 90%;
		padding: 10px 8px;
	}

}

