/*..............................颜色.............................*/
.thead{
	background-color: 	#79B5A5;
	color:				white;	
}
.odd{
	background-color: 	#E6FFED;
	color:				#79B5A5;
}
.even{
	background-color: 	#C3E6D8;
	color:				#79B5A5;
}
/*..............................格式.............................*/
table {
	max-width: 			100%;
}
td,th{
	padding: 			10px 20px;
	text-align: 		center;
}
/*..............................N005实例.........................*/
#a,#b,#c,#d{
	display: 			inline-block;
}
#a{
	text-decoration: 	underline;
}
#b{
	text-decoration: 	none;
	border-bottom: 		solid;
}
#c{
	text-decoration: 	underline;
}
#d{
	text-decoration: 	none;
	border-bottom: 		solid;
}