/*..............................颜色.............................*/
.thead{
	background-color: 	#79B5A5;
	color:				white;	
}
.odd{
	background-color: 	#E6FFED;
	color:				#79B5A5;
}
.even{
	background-color: 	#C3E6D8;
	color:				#79B5A5;
}
/*..............................格式.............................*/

article.table-wrap {
	max-width: 				100%;
	overflow: 			scroll;
}
table img {
	max-width: 			45px;
}
td,th{
	padding: 			0.5em 1em;
	text-align: 		center;
}

/*..............................N005实例.........................*/
#a,#b,#c,#d{
	display: 			inline-block;
}
#a{
	text-decoration: 	underline;
}
#b{
	text-decoration: 	none;
	border-bottom: 		solid;
}
#c{
	text-decoration: 	underline;
}
#d{
	text-decoration: 	none;
	border-bottom: 		solid;
}