/*..............................颜色.............................*/

/* 表格第1行，即head */
article table tr:first-child {
	background-color: #79B5A5;
	color: white;
}

/* 表格body奇数行，即246 */
article table tr:nth-child(even) {
	background-color: #E6FFED;
	color: #79B5A5;
}
/* 表格body偶数行，即357 */
article table tr:nth-child(2n+3) {
	background-color: #C3E6D8;
	color: #79B5A5;
}
/*..............................格式.............................*/

/* all table */
.table-wrap {
	max-width: 100%; 
	overflow: auto;
}

/* specific table */
aside table img {
	max-width: 45px;
}
aside td,th {
	padding: 0.5em 1em;
	text-align: center;
}
article table {
	width: 600px;
}
article td,th {
	font-size: 90%;
	padding: 0.5em;
	padding-left: 20px;
	text-align: left;
	vertical-align: middle;
}

/*..............................N005实例.........................*/
table #n005a, table #n005b, table #n005c, table #n005d{
	display: inline-block;
}
table #n005a{
	text-decoration: underline;
}
table #n005b{
	text-decoration: none;
	border-bottom: solid;
}
table #n005c{
	text-decoration: underline;
}
table #n005d{
	text-decoration: none;
	border-bottom: solid;
}